.flexHorizontal {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .flexVerticalMobile {
    flex-direction: column;
  }
}

.flexVertical {
  display: flex;
  flex-direction: row;
}

.flexShrink {
  flex: 0 1 auto;
}

.flexExpand {
  flex: 1 1 auto;
}